<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <title>Bratenbank</title>
    </head>
    <body>
        <h1 th:text="#{liste.ueberschrift}"/>
        <table th:if="${#lists.size(angebote)} > 0" class="table">
            <tr>
                <th th:text="#{liste.haltbarbis}"/>
                <th th:text="#{liste.anbieter}"/>
                <th th:text="#{liste.abholort}"/>
                <th th:text="#{liste.beschreibung}"/>
                <th th:text="#{liste.vegetarizitaet}"/>
                <th th:text="#{liste.loeschen}"/>
                <th th:text="#{liste.bearbeiten}"/>
            </tr>
            <tr th:each="ele: ${angebote}">
                <td th:text="${ele.haltbarbis}"></td>
                <td th:text="${ele.anbieter.vollname}"></td>
                <td th:text="${ele.abholort}"></td>
                <td th:text="${ele.beschreibung}"></td>
                <td th:text="|${ele.vgrad}%|"></td>
                <td><a th:href="@{/braten/angebot/}+${ele.id}+@{/del}">[del]</a></td>
                <td><a th:href="@{/braten/angebot/}+${ele.id}">[edit]</a></td>
            </tr>
        </table>
        <a th:href="@{/braten/angebot/neu}" th:text="#{liste.neu}"/>
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" value="logout"/>
        </form>
    </body>
</html>