<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/validerror.css"/>
        <title>Bratenbank</title>
    </head>
    <body>
        <h1>Braten erfassen und bearbeiten</h1>
        <div class="col-xs-4">
            <form th:action="@{/angebot/neu}" th:method=POST th:object="${angebotform}">
                <div class="form-group">
                    <label>Anbieter</label>
                    <input type="text" th:field="*{name}" th:errorclass="error" class="form-control" placeholder="Anbieter eingeben"/>
                    <p th:if="${#fields.hasErrors('name')}" class="errortext">Name muss mindestens 3 Zeichen und maximal 80 Zeichen haben</p>
                </div>
                <div class="form-group">
                    <label>Abholort</label>
                    <input type="text" th:field="*{abholort}" th:errorclass="error" class="form-control" placeholder="Abholort eingeben"/>
                    <p th:if="${#fields.hasErrors('abholort')}" class="errortext">ungültiger Abholort</p>
                </div>
                <div class="form-group">
                    <label>Beschreibung</label>
                    <input type="text" th:field="*{beschreibung}" th:errorclass="error" class="form-control" placeholder="Beschreibung eingeben"/>
                    <p th:if="${#fields.hasErrors('beschreibung')}" class="errortext">Beschreibung darf nicht länger als 80 Zeichen haben</p>
                </div>
                <div class="form-group">
                    <label>Vegetarizität</label>
                    <select th:field="*{vgrad}" th:errorclass="error" class="form-control">
                        <option th:each="sb: *{selectboxes}" th:value="${sb}" th:text="|${sb}%|"/>
                      </select>
                      <p th:if="${#fields.hasErrors('vgrad')}" class="errortext">Vegetarizität muss angegeben werden</p>
                </div>
                <div class="form-group">
                    <label>Haltbar bis</label>
                    <input type="date" th:field="*{haltbarbis}" th:errorclass="error" class="form-control"/>
                    <p th:if="${#fields.hasErrors('haltbarbis')}" class="errortext">Datum muss in der Zukunft legen (kein abgelaufenen Produkte)</p>
                </div>
                <button type="submit" class="btn btn-primary">Braten speichern</button>
            </form>
        </div>
    </body>
</html>